.side-bar
  .side-header
    .side-header_box
      %p.side-header_box_user-name masa
      %ul.side-header_box_menu
        %li.side-header__box__menu__new-group
          %a{:href => "#"}
            %i.far.fa-edit
          %a{:href => "#"}
            %i.fas.fa-cog
        %li.side-header__box__menu__edit-user
  .groups
    .group
      %a.group_name{:href => "#"}
        %p.group_name techcamp
      %a.last-comment{:href => "#"}
        %p.last-comment まだメッセージがありません